---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer";
import NavBar from "../components/navBar";
import AllProjects from "../components/projects";
import {projects} from "../data/projectsData";
import GitHubActivityTimeline from "../components/activity";
---

<Layout>
  <NavBar client:load />
  <div class="flex justify-center w-full px-4 md:px-6 lg:px-8 mt-30">
    <main
      class="flex flex-col items-center justify-center w-full max-w-[1720px] gap-10"
    >
      <div class="flex flex-col lg:flex-row gap-10">
        <AllProjects largePage={true} quantity={projects.length} client:load />
        <GitHubActivityTimeline client:load />
      </div>

      <!-- Call to Action -->
      <div class="text-center mt-12 mb-16">
        <h3 class="text-xl font-semibold text-gray-200 mb-4">
          ¿Interesado en colaborar?
        </h3>
        <a
          href="mailto:alejopsornal@gmail.com"
          class="inline-flex items-center px-6 py-3 text-white rounded-lg transition-colors border border-[#3d3d3d]"
        >
          Contáctame
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 ml-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            ></path>
          </svg>
        </a>
      </div>

      <Footer />
    </main>
  </div>
</Layout>
